footer {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(../../images/footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  direction: ltr;
}
footer ul {
  list-style: none;
  padding: 0;
}
.webLink {
  padding-left: 30px;
  cursor: pointer;
  margin: 10px 0;
  transition: all 0.5s;
}
.webLink:hover {
  text-decoration: underline;
  font-size: 20px;
}
